* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
a {
  text-decoration: none;
}
.container .row {
  padding: 100px 0px;
}
/* header css */

header {
  width: 100%;
  background: black;
  padding: 10px 0;
}

.nav-link {
  color: #b0b0b0 !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0px 20px !important;
  font-size: 14px;
}
.nav-link:hover {
  color: #ffffff !important;
  border-bottom: 2px solid #b0b0b0;
}
/* .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #b0b0b0;
}
.nav-link:hover::before {
  width: 100%;
  transition: 0.5s;
} */

/* banner css */

.banner {
  width: 100%;
  background: url(../image/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.banner-text {
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}

.banner-text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin: 24px 0px;
  color: white;
  width: 70%;
}

.banner-text p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #b0b0b0 !important;
  margin: 24px 0px 24px 0px;
  width: 65%;
}

.banner-text .line {
  height: 3px;
  width: 40px;
  background-color: white;
}
.banner-text button {
  padding: 12px 25px;
  background: transparent;

  border: 1px solid white;
  color: white;
}
.banner-text button:hover {
  background-color: white;
  color: black;
  font-weight: 600;
}

.banner-form {
  height: 90vh;
  display: table-cell;
  vertical-align: middle;
}
.banner-form .card {
  border: 0px !important;
}
.banner-form .card-header {
  padding: 1.5rem 1rem !important;
}
.banner-form .card-header h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin: 0px;
}

.banner-form .card-header h2 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #ff9b51;
  text-transform: uppercase;
}
.banner-form .card-body {
  padding: 1rem 2rem !important;
}
.banner-form .card-body input {
  width: 100%;
  margin: 15px 0px;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 8px;
  padding-left: 12px;
}
.banner-form .card-body input:focus {
  outline: none;
}

.banner-form .card-body input::placeholder {
  color: #cccccc;
}
.banner-form .card-footer {
  padding: 0;
}
.banner-form .card-footer input {
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background: #ff9b51;
  color: #ffffff;
}
.banner-form .card-body input[type="password"] {
  margin-bottom: 32px !important;
}
.banner-form .card-footer input:focus {
  outline: none;
}

/* service section css starts here */
.service {
  width: 100%;
  /* padding: 80px 0px; */
  background: #f5f5f5;
}
.service p {
  width: 80%;
}
.service ul li {
  list-style: none;
  height: 90px;
  background-color: #333333;
  margin-bottom: 2px;
  width: 106px;
  line-height: 90px;
  text-align: center;
  color: #ffffff;
}
.service ul li a {
  color: #ffffff;
}

.tab-1 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* background: #ff9b51; */
}
.tab-3 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.active-tab {
  background-color: #ff9b51 !important;
}

.service h4 {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.service p {
  font-weight: 300;
  font-family: "raleway", sans-serif;
  color: #b0b0b0;
  margin: 32px 0px;
}
.service button {
  padding: 12px 25px;
  background: #ff8b38;
  border: 1px solid white;
  color: white;
}
/* icons section css starts here */
.icons {
  width: 100%;
  border-bottom: 2px solid #b0b0b0;
  font-family: "Open Sans", sans-serif;
}
.icons .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 15px;
}
.icons p {
  color: #b0b0b0;
}
.icons h2 {
  font-weight: 700;
}

.icons ul li {
  list-style: none;

  justify-content: space-between;
  color: #b0b0b0;
  font-size: 50px;
}

.icons ul {
  display: flex;
  justify-content: space-between;
}
/* sub list section starts here  */
.sublist {
  font-family: "Open Sans", sans-serif;
}
.icons .container .row {
  display: flex;
  align-items: center;
}
.sublist h4 {
  font-weight: 700;
}

.sublist .line {
  background-color: #ff9b51;
  height: 3px;
  width: 40px;
  margin: 25px 0px;
}

.sublist p {
  color: #b0b0b0;
  width: 90%;
}
.sublist-1,
.sublist-2 {
  align-items: center;
}

.sublist-icon {
  height: 40px;
  width: 40px;
  font-size: 15px;
  color: #ff8b38;
  border: 2px solid #ff8b38;
  border-radius: 100%;
  padding: 10px;
  margin-right: 25px;
}
.sublist-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sublist-desc p {
  margin-bottom: 0px;
}
.standard {
  background: #f5f5f5;
}

/* features css starts here  */
.features {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.features .line {
  background-color: #ff9b51;
  height: 3px;
  width: 40px;
  margin: 25px auto;
}
.features h1 {
  font-family: "raleway", sans-serif !important;
  padding: 0px;
  font-weight: 600;
  text-transform: uppercase;
}
.features h4 {
  font-weight: 700;
}
.features p {
  color: #b0b0b0;
  /* width: 90%; */
  margin: 20px 0px;
}

.features i {
  height: 40px;
  width: 40px;
  font-size: 15px;
  color: #ff8b38;
  border: 2px solid #ff8b38;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

/* pricing section starts here */
.pricing {
  width: 100%;
  background-color: #f5f5f5;
  padding: 0px 0px;
  text-align: center;
}

.section_header_content h1 {
  font-family: "raleway", sans-serif !important;
  padding: 0px;
  font-weight: 600;
  text-transform: uppercase;
}
.section_header_content p {
  font-family: "raleway", sans-serif !important;
}
.section_header_content .line {
  background-color: #ff9b51;
  height: 3px;
  width: 40px;
  margin: 25px auto;
}
.pricing-table-list {
  /* margin-top: 60px; */
}
.table-1 {
  margin: 0px 30px;
}
.table-1 .price-cat {
  color: #ffffff;
  padding: 12px 0px;
  border-bottom: 1px solid white;
}
.table-1 .price-cat p {
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.table-1 .price-body {
  padding: 40px 0px;
  border-bottom: 5px solid #ff9b51;
}
.table-1 .price-body h1 {
  color: white;
  font-family: "raleway", sans-serif !important;
  font-weight: 700;
  margin-bottom: 15px;
}
.table-1 .price-body h1 span {
  font-size: 82px;
}
.table-1 .price-body p {
  color: #999999;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}
.table-1 .price-cat,
.table-1 .price-body {
  background-color: #333333;
}
.table-1 .price-services {
  background-color: #ffffff;
}
.table-1 .price-services ul {
  padding: 0;
}
.table-1 .price-services ul li {
  list-style: none;
  border-bottom: 1px solid #e9e9e9;
  text-transform: uppercase;
  color: #999999;
  padding: 10px 0px;
}
.middle .price-body {
  border: 0px;
  padding: 0px;
}

.special {
  padding: 40px 0px;
}
.popular {
  background-color: #ff9b51;
  padding: 12px 0px;
}

.popular p {
  font-style: normal !important;
  color: #ffffff !important;
  margin: 0px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* testimonial section starts here */
.testimonial {
  width: 100%;
  /* padding: 70px 0px; */
  text-align: center;
}
.review-1 {
  margin: 0px 60px;
}
.message {
  background-color: #cccccc;
  color: black;
  /* margin: 0px 20px; */
  padding: 20px;
  text-align: left;
  border-radius: 3px;
  font-style: italic;
  position: relative;
}
.message .corner {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #cccccc;
  bottom: -20px;
  left: 30px;
  transform: rotate(45deg);
}
.user-row {
  padding-top: 0px !important;
}
.user {
  margin-top: 50px;
}
.user .row {
  padding: 0px !important;
  display: flex;
  align-items: center;
}
.user .col-md-8 {
  text-align: left;
  padding-left: 0px;
}

.user .col-md-4 {
  padding-right: 0px;
}
/* download section starts here */

.download {
  width: 100%;
  background-image: url(../image/bg2.png);
  text-align: center;
  color: #ffffff;
}

.download button {
  padding: 10px 15px;
  margin-top: 25px;
  background: transparent;
  border: 1px solid white;
  color: white;
}

/* contact section starts here */
.contact {
  width: 100%;

  text-align: center;
  /* color: #ffffff; */
}

.contact-form {
  width: 100% !important;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  padding: 0px 100px;
  justify-content: center;
}
.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  padding: 30px 0px 10px 10px;
  outline-width: 0px;
}
/* footer section starts here */
footer {
  text-align: center;
  background-color: black;
}

footer ul li {
  list-style: none;
}
footer ul li a {
  color: #b0b0b0;
  font-size: 30px;
  margin-left: 30px;
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 10px 0px !important;
}
